.clockdiv {
    font-family: sans-serif;
    color: #1b1d1d;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.time-container {
    display: inline-block;
}

.seconds {
    padding: 5px;
    background: var(--company-third-color);
    display: inline-block;
}

.minutes {
    padding: 5px;
    background: var(--company-third-color);
    display: inline-block;
}

.hours {
    padding: 5px;
    background: var(--company-third-color);
    display: inline-block;
}

.days1 {
    font-weight: 600;
    padding: 5px;
    background: var(--company-third-color);
    display: inline-block;
}

.smalltext {
    padding: 5px;
    font-size: 16px;
    color: #fff;
}