:root{
    --company-color: #17bed2;
    --company-second-color: #17bed280;
    --company-third-color: #1ba0af;
    --company-second-third-color: #1ba0af80;
    --text-color1: #000000;
    --text-color2: #ffffff;
}